{% extends 'base.html.twig' %}

{% block title 'Studies | ' ~ parent() %}

{% block body %}
        <img src="{{ asset('/images/robaph.jpg') }}" alt="philadelphia" width="250px" class="rounded-full mb-5">
        <h1 class="text-3xl sm:text-5xl font-semibold text-indigo-600 mt-5">Studies</h1>
        <p class="text-gray-800 mb-20">Mon parcours de formation embrasse la diversité, explorant un éventail de domaines pour une vision holistique et une expertise multidisciplinaire</p>

    <style>
        .card {
            width: 300px; /* Ajustez la largeur comme nécessaire */
            margin: 0 10px; /* Espacement horizontal entre les cartes */
        }

        .flex-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .card-img-top {
            height: 100px; /* Ajustez la hauteur comme nécessaire */
            object-fit: cover; /* Assurez-vous que l'image remplit la hauteur définie */
        }
    </style>

    <div class="flex-container">
        {% set blocks = [
            {
                'title': 'LEA',
                'image': 'images/LEA.jpg',
                'content': "Après un bac Economique et Social, j'ai étudié les langues étrangères (anglais et espagnol) jusqu'en 3ème année de Licence.",
            },
            {
                'title': 'CEFI',
                'image': 'images/CEFI.jpg',
                'content': "J'ai par la suite travaillé dans le cadre d'un emploi jeune une structure dédiée à l'insertion des élèves en décrochage scolaire. Cette expérience m'ayant motivé pour validé en alternance la licence professionnelle de Conseil Formation",
            },
            {
                'title': 'GAP',
                'image': 'images/GAP.png',
                'content': "Désireux de connaître le monde de l'entreprise, j'ai décidé à 33 ans de me spécialiser au domaine des ressources humaines en validant une licence en Gestion et Administration du Personnel.",
            },
            {
                'title': 'Développement',
                'image': 'images/dev.jpg',
                'content': "Souhaitant exercer un métier à la fois plus technique et axé sur les nouvelles technologies je me suis formé au développement informatique.",
            },
        ] %}
        
        {% for block in blocks %}
            <div class="card m-3">
                <div class="card-header">
                    <h2 class="text-xl font-semibold">{{ block.title }}</h2>
                </div>
                <img src="{{ asset(block.image) }}" alt="{{ block.title }}" width="300px" height="200px" class="card-img-top">
                <div class="card-body">
                    <p class="card-text">{{ block.content }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}