<p>ceci est un test</p>

{% extends 'base.html.twig' %}

{% block title 'Test | ' ~ parent() %}

{% block body %}

    <img src="{{ asset('/images/music.jpeg') }}" alt="tigre" width="250px" class="rounded mb-5">

    <h1 class="text-3xl sm:text-5xl font-semibold text-indigo-600 mt-5 mb-5">Music</h1>

    <p class="text-gray-800 mt-10 mb-10">L'oreille est hardie, un peu comme Françoise. La musique est une drogue, il faut donc avoir un bon dealer.</p>



    <div class="flex flex-col md:flex-row mb-10">
        <img src="{{ asset('/images/lv88.jpeg') }}" alt="lv88" width="250px" class="rounded mb-5 image-height">
        {# <audio controls>
            <source src="{{ asset('music/LV88-HLM.mp3') }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio> #}
    </div>

    {# <div class="flex flex-col md:flex-row mb-10">
        <img src="{{ asset('/images/parquet.jpeg') }}" alt="Parquet Courts" width="250px" class="rounded mb-5 image-height">
        <audio controls>
            <source src="{{ asset('music/Parquet Courts - Human Performance.mp3') }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div> #}




{% endblock %}
