{% extends 'base.html.twig' %}

{% block title 'Test | ' ~ parent() %}

{% block body %}


    <img src="{{ asset('/images/music.jpeg') }}" alt"music" width="250px" class="rounded shadow-md mt-10 mb-10">

    <h1 class="text-3xl sm:text-5xl font-semibold text-indigo-600 mt-5 mb-5">Music</h1>

    <p class="mb-10" >L'oreille est hardie, un peu comme Françoise. Alors si la musique est une drogue il faut avoir un bon dealer</p>

    <div class="audio-container flex">
        {# <div class="flex max-w-sm rounded overflow-hidden shadow-lg m-4"> #}
            <div class="normal">
                <img src="{{ asset('/images/parquet.jpeg') }}" alt="parquet courts" class="w-full h-32 project-image">
                <audio controls>
                    <source src="{{ asset('music/Parquet Courts - Human Performance.mp3') }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <div class="additional-content" style="display: none;">
                <img src="{{ asset('/images/USA.jpeg') }}" alt="USA" class="w-full h-32 project-image">
                <p>Parquet Court - Human Performance </p>
            </div>
        {# </div> #}
    </div>


    <div class="audio-container flex">
        {# <div class="flex max-w-sm rounded overflow-hidden shadow-lg m-4"> #}
            <div class="normal">
                <img src="{{ asset('/images/lv88.jpeg') }}" alt="lv88" class="w-full h-32 project-image">
                <audio controls>
                    <source src="{{ asset('music/LV88-HLM.mp3') }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <div class="additional-content" style="display: none;">
                <img src="{{ asset('/images/France.png') }}" alt="France" class="w-full h-32 project-image">
                <p>Ludwig Von 88 - HLM </p>
            </div>
        {# </div> #}
    </div>

    <div class="audio-container flex">
        {# <div class="flex max-w-sm rounded overflow-hidden shadow-lg m-4"> #}
            <div class="normal">
                <img src="{{ asset('/images/jewels.jpeg') }}" alt="jewels" class="w-full h-32 project-image">
                <audio controls>
                    <source src="{{ asset('music/Run The Jewels-Angel Duster.mp3') }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <div class="additional-content" style="display: none;">
                    <img src="{{ asset('/images/USA.jpeg') }}" alt="USA" class="w-full h-32 project-image">
                    <p>Run The Jewels-Angel Duster </p>
            </div>
        {# </div> #}
    </div>

    <div class="audio-container flex">
        {# <div class="flex max-w-sm rounded overflow-hidden shadow-lg m-4"> #}
            <div class="normal">
                <img src="{{ asset('/images/generationals.jpeg') }}" alt="generationals" class="w-full h-32 project-image">
                <audio controls>
                    <source src="{{ asset('music/Generationals- Trust.mp3') }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <div class="additional-content" style="display: none;">
                    <img src="{{ asset('/images/USA.jpeg') }}" alt="Usa" class="w-full h-32 project-image">
                    <p>The Generationals - Trust </p>
            </div>
        {# </div> #}
    </div>


    <div class="audio-container flex">
        {# <div class="flex max-w-sm rounded overflow-hidden shadow-lg m-4"> #}
            <div class="normal">
                <img src="{{ asset('/images/perez.jpg') }}" alt="Perez" class="w-full h-32 project-image">
                <audio controls>
                    <source src="{{ asset('music/Perez - Animaux.mp3') }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <div class="additional-content" style="display: none;">
                    <img src="{{ asset('/images/France.jpeg') }}" alt="France" class="w-full h-32 project-image">
                    <p>Perez - Animaux </p>
            </div>
        {# </div> #}
    </div>

    <div class="audio-container flex">
        {# <div class="flex max-w-sm rounded overflow-hidden shadow-lg m-4"> #}
            <div class="normal">
                <img src="{{ asset('/images/beastie.jpg') }}" alt="Besatie boys" class="w-full h-32 project-image">
                <audio controls>
                    <source src="{{ asset('music/Beastie boys - Gratitude.mp3') }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <div class="additional-content" style="display: none;">
                    <img src="{{ asset('/images/USA.jpeg') }}" alt="Usa" class="w-full h-32 project-image">
                    <p>Beastie boys - Gratitude </p>
            </div>
        {# </div> #}
    </div>

    <div class="audio-container flex">
        {# <div class="flex max-w-sm rounded overflow-hidden shadow-lg m-4"> #}
            <div class="normal">
                <img src="{{ asset('/images/zedyun.jpg') }}" alt="Zed Yun Pavarotti" class="w-full h-32 project-image">
                <audio controls>
                    <source src="{{ asset('music/Zed Yun Pavarotti - De larmes .mp3') }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <div class="additional-content" style="display: none;">
                    <img src="{{ asset('/images/France.jpeg') }}" alt="France" class="w-full h-32 project-image">
                    <p>Zed Yun Pavarotti - De larmes </p>
            </div>
        {# </div> #}
    </div>

    <div class="audio-container flex">
        {# <div class="flex max-w-sm rounded overflow-hidden shadow-lg m-4"> #}
            <div class="normal">
                <img src="{{ asset('/images/LeBon.jpg') }}" alt="Cate Le Bon" class="w-full h-32 project-image">
                <audio controls>
                    <source src="{{ asset('music/Cate Le Bon - Home to You.mp3') }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <div class="additional-content" style="display: none;">
                    <img src="{{ asset('/images/PaysdeGalles.png') }}" alt="Pays de Galles" class="w-full h-32 project-image">
                    <p>Cate LeBon - Home To You </p>
            </div>
        {# </div> #}
    </div>

    <div class="audio-container flex">
        {# <div class="flex max-w-sm rounded overflow-hidden shadow-lg m-4"> #}
            <div class="normal">
                <img src="{{ asset('/images/Baker.jpg') }}" alt="George Baker" class="w-full h-32 project-image">
                <audio controls>
                    <source src="{{ asset('music/George Baker- Little Green Bag.mp3') }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <div class="additional-content" style="display: none;">
                    <img src="{{ asset('/images/USA.jpeg') }}" alt="USA" class="w-full h-32 project-image">
                    <p>George Baker- Little Green Bag </p>
            </div>
        {# </div> #}
    </div>

    <div class="audio-container flex">
        {# <div class="flex max-w-sm rounded overflow-hidden shadow-lg m-4"> #}
            <div class="normal">
                <img src="{{ asset('/images/catpower.jpg') }}" alt="Cat Power" class="w-full h-32 project-image">
                <audio controls>
                    <source src="{{ asset('music/Cat Power - Bad Religion.mp3') }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <div class="additional-content" style="display: none;">
                    <img src="{{ asset('/images/USA.jpeg') }}" alt="USA" class="w-full h-32 project-image">
                    <p>Cat Power - Bad Religion </p>
            </div>
        {# </div> #}
    </div>

    

    <div class="audio-container flex">
        {# <div class="flex max-w-sm rounded overflow-hidden shadow-lg m-4"> #}
            <div class="normal">
                <img src="{{ asset('/images/minimal.jpg') }}" alt="Minimal Compact" class="w-full h-32 project-image">
                <audio controls>
                    <source src="{{ asset('music/Minimal Compact - Dedicated.mp3') }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <div class="additional-content" style="display: none;">
                    <img src="{{ asset('/images/Israel.png') }}" alt="Israel" class="w-full h-32 project-image">
                    <p>Minimal Compact - Dedicated </p>
            </div>
        {# </div> #}
    </div>

    <div class="audio-container flex">
        {# <div class="flex max-w-sm rounded overflow-hidden shadow-lg m-4"> #}
            <div class="normal">
                <img src="{{ asset('/images/the-organ.jpg') }}" alt="The Organ" class="w-full h-32 project-image">
                <audio controls>
                    <source src="{{ asset('music/The Organ - Brother.mp3') }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <div class="additional-content" style="display: none;">
                    <img src="{{ asset('/images/Canada.jpeg') }}" alt="Canada" class="w-full h-32 project-image">
                    <p>Cate LeBon - Home To You </p>
            </div>
        {# </div> #}
    </div>

    <div class="audio-container flex">
        {# <div class="flex max-w-sm rounded overflow-hidden shadow-lg m-4"> #}
            <div class="normal">
                <img src="{{ asset('/images/Connan Mockasin.jpg') }}" alt="Connan Mockasin" class="w-full h-32 project-image">
                <audio controls>
                    <source src="{{ asset('music/Connan Mockasin - Its Choade My Dear.mp3') }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <div class="additional-content" style="display: none;">
                    <img src="{{ asset('/images/NZ.png') }}" alt="Nouvelle Zelande" class="w-full  h-32 project-image">
                    <p>Connan Mockasin - Its Choade My Dear </p>
            </div>
        {# </div> #}
    </div>

    <div class="audio-container flex ">
        {# <div class="flex max-w-sm rounded overflow-hidden shadow-lg m-4"> #}
            <div class="normal">
                <img src="{{ asset('/images/ymg.jpeg') }}" alt="Young Marble Giants" class="w-full h-32 project-image">
                <audio controls>
                    <source src="{{ asset('music/Young Marble Giants - Searching for Mr. Right.mp3') }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <div class="additional-content" style="display: none;">
                    <img src="{{ asset('/images/Ecosse.png') }}" alt="Ecosse" class="w-full h-32 project-image">
                    <p>Young Marble Giants - Searching for Mr. Right </p>
            </div>
        {# </div> #}
    </div>

    <div class="audio-container flex">
        {# <div class="flex max-w-sm rounded overflow-hidden shadow-lg m-4"> #}
            <div class="normal">
                <img src="{{ asset('/images/fkuti.jpeg') }}" alt="Fela Kuti" class="w-full h-32 project-image">
                <audio controls>
                    <source src="{{ asset('music/Fela Kuti - 2000 Blacks Got To Be Free.mp3') }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <div class="additional-content" style="display: none;">
                    <img src="{{ asset('/images/Nigeria.png') }}" alt="Nigeria" class="w-full  h-32 project-image">
                    <p>Fela Kuti - 2000 Blacks </p>
            </div>
        {# </div> #}
    </div>

    <div class="audio-container flex">
        {# <div class="flex max-w-sm rounded overflow-hidden shadow-lg m-4"> #}
            <div class="normal">
                <img src="{{ asset('/images/Le_Mans.jpg') }}" alt="Le Mans" class="w-full h-32 project-image">
                <audio controls>
                    <source src="{{ asset('music/Le Mans - Mi Novela Autobiográfica.mp3') }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <div class="additional-content" style="display: none;">
                    <img src="{{ asset('/images/Espagne.jpg') }}" alt="Espagne" class="w-full h-32 project-image">
                    <p>Le Mans - Mi Novela Autobiográfica </p>
            </div>
        {# </div> #}
    </div>

    <div class="audio-container flex">
        {# <div class="normal flex max-w-sm rounded overflow-hidden shadow-lg m-4"> #}
            <div class="normal">
                <img src="{{ asset('/images/Peter Von Poehl.jpg') }}" alt="Peter Von Poehl" class="w-full h-32 project-image">
                <audio controls>
                    <source src="{{ asset('music/Going to Where The Tea-Trees Are.mp3') }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <div class="additional-content" style="display: none;">
                    <img src="{{ asset('/images/Suede.png') }}" alt="Suede" class="w-full h-32 project-image">
                    <p>Peter Von Poehl - Going to Where The Tea-Trees Are </p>
            </div>
        {# </div> #}
    </div>

    <div class="audio-container flex">
        {# <div class="flex max-w-sm rounded overflow-hidden shadow-lg m-4"> #}
            <div class="normal">
                <img src="{{ asset('/images/Erik Truffaz.jpg') }}" alt="Erik Truffaz" class="w-full h-32 project-image">
                <audio controls>
                    <source src="{{ asset('music/Let Me Go ! feat. Sophie Hunger.mp3') }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <div class="additional-content" style="display: none;">
                    <img src="{{ asset('/images/Suisse.jpg') }}" alt="Suisse" class="w-full h-32 project-image">
                    <p>Erik Truffaz - Let Me Go ! </p>
            </div>
        {# </div> #}
    </div>

    <div class="audio-container flex">
        {# <div class=" flex max-w-sm rounded overflow-hidden shadow-lg m-4"> #}
            <div class="normal">
                <img src="{{ asset('/images/Girls in Hawaii.jpg') }}" alt="Girls in Hawaii" class="w-full  h-32 project-image">
                <audio controls>
                    <source src="{{ asset('music/Girls in Hawaii - Flavor.mp3') }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <div class="additional-content" style="display: none;">
                    <img src="{{ asset('/images/Belgique.png') }}" alt="Belgique" class="w-full  h-32 project-image">
                    <p>Girls in Hawaii - Flavor </p>
            </div>
        {# </div> #}
    </div>


    <div class="flex audio-container">
        {# <div class="normal flex max-w-sm rounded overflow-hidden shadow-lg m-4"> #}
            <div class="normal">
                <img src="{{ asset('/images/Hammer.jpg') }}" alt="GJan Hammer" class="w-full  h-32 project-image">
                <audio controls>
                    <source src="{{ asset('music/Jan Hammer - Crocketts Theme (Miami Vice).mp3') }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <div class="additional-content" style="display: none;">
                    <img src="{{ asset('/images/Tcheck.png') }}" alt="Republique Tcheque" class="w-full  h-32 project-image">
                    <p>Jan Hammer - Crocketts Theme </p>
            </div>
        {# </div> #}
    </div>
    

{% endblock %}

{% block styles %}
    <style>
        .additional-content {
    display: none;
    flex: 1; /* Utiliser le reste de l'espace disponible */
    padding-left: 10px; /* Ajouter un espacement entre les deux parties */
}
        .audio-container {
        max-width: 400px; /* ou toute autre largeur souhaitée */
        border:2px solid blue;
    }
        .additional-content p{
            color: purple;
            font-weight:bold;
        }
        /* Afficher le contenu supplémentaire lorsque la classe "active" est ajoutée */
        .active {
            display: block;
        }
        .project-image {
            object-fit: cover;
        }
        .normal{
            width:50%;
            border:5px solid pink;

        }

        .additional-content{
            width:50%;
            border:5px solid green;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const audioContainers = document.querySelectorAll(".audio-container");

            audioContainers.forEach(function(container) {
                const audio = container.querySelector("audio");
                const additionalContent = container.querySelector(".additional-content");

                audio.addEventListener("play", function() {
                    additionalContent.style.display = "block";
                });

                audio.addEventListener("pause", function() {
                    additionalContent.style.display = "none";
                });
            });
        });
    </script>
{% endblock %}