{% extends 'base.html.twig' %}

{% block title 'Test | ' ~ parent() %}

{% block body %}


    <img src="{{ asset('/images/music.jpeg') }}" alt"music" width="250px" class="rounded shadow-md mt-10 mb-10">

    <h1 class="text-3xl sm:text-5xl font-semibold text-indigo-600 mt-5 mb-5">Music</h1>

    <p class="mb-10" >L'oreille est hardie, un peu comme Françoise. Alors si la musique est une drogue il faut avoir un bon dealer</p>

    <div>
        <div class="flex-1 max-w-sm rounded overflow-hidden shadow-lg m-4">
            <img src="{{ asset('/images/lv88.jpeg') }}" alt="lv88" class="w-full h-32 project-image">
            <audio controls>
                <source src="{{ asset('music/LV88-HLM.mp3') }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>

        <div class="flex-1 max-w-sm rounded overflow-hidden shadow-lg m-4">
            <img src="{{ asset('/images/parquet.jpeg') }}" alt="parquet courts" class="w-full h-32 project-image">
            <audio controls>
                <source src="{{ asset('music/Parquet Courts - Human Performance.mp3') }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>

        <div class="flex-1 max-w-sm rounded overflow-hidden shadow-lg m-4">
            <img src="{{ asset('/images/jimi.jpeg') }}" alt="jimi" class="w-full h-32 project-image">
            <audio controls>
                <source src="{{ asset('music/1983... (A Merman I Should Turn to Be).mp3') }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>

        <div class="flex-1 max-w-sm rounded overflow-hidden shadow-lg m-4">
            <img src="{{ asset('/images/jewels.jpeg') }}" alt="Vjewels" class="w-full h-32 project-image">
            <audio controls>
                <source src="{{ asset('music/Run The Jewels-Angel Duster.mp3') }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>>
        </div>

        <div class="flex-1 max-w-sm rounded overflow-hidden shadow-lg m-4">
            <img src="{{ asset('/images/generationals.jpeg') }}" alt="generationals" class="w-full h-32 project-image">
            <audio controls>
                <source src="{{ asset('music/Generationals- Trust.mp3') }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>

        <div class="flex-1 max-w-sm rounded overflow-hidden shadow-lg m-4">
            <img src="{{ asset('/images/perez.jpg') }}" alt="Perez" class="w-full h-32 project-image">
            <audio controls>
                <source src="{{ asset('music/Perez - Animaux.mp3') }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>

        <div class="flex-1 max-w-sm rounded overflow-hidden shadow-lg m-4">
            <img src="{{ asset('/images/beastie.jpg') }}" alt="Besatie boys" class="w-full h-32 project-image">
            <audio controls>
                <source src="{{ asset('music/Beastie boys - Gratitude.mp3') }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>

        <div class="flex-1 max-w-sm rounded overflow-hidden shadow-lg m-4">
            <img src="{{ asset('/images/zedyun.jpg') }}" alt="Zed Yun Pavarotti" class="w-full h-32 project-image">
            <audio controls>
                <source src="{{ asset('music/Zed Yun Pavarotti - De larmes .mp3') }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>

        <div class="flex-1 max-w-sm rounded overflow-hidden shadow-lg m-4">
            <img src="{{ asset('/images/LeBon.jpg') }}" alt="Cate Le Bon" class="w-full h-32 project-image">
            <audio controls>
                <source src="{{ asset('music/Cate Le Bon - Home to You.mp3') }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>

        <div class="flex-1 max-w-sm rounded overflow-hidden shadow-lg m-4">
            <img src="{{ asset('/images/Baker.jpg') }}" alt="George Baker" class="w-full h-32 project-image">
            <audio controls>
                <source src="{{ asset('music/George Baker- Little Green Bag.mp3') }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>

        <div class="flex-1 max-w-sm rounded overflow-hidden shadow-lg m-4">
            <img src="{{ asset('/images/catpower.jpg') }}" alt="Cat Power" class="w-full h-32 project-image">
            <audio controls>
                <source src="{{ asset('music/Cat Power - Bad Religion.mp3') }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>

        <div class="flex-1 max-w-sm rounded overflow-hidden shadow-lg m-4">
            <img src="{{ asset('/images/minimal.jpg') }}" alt="Minimal Compact" class="w-full h-32 project-image">
            <audio controls>
                <source src="{{ asset('music/Minimal Compact - Dedicated.mp3') }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>

        <div class="flex-1 max-w-sm rounded overflow-hidden shadow-lg m-4">
            <img src="{{ asset('/images/the-organ.jpg') }}" alt="The Organ" class="w-full h-32 project-image">
            <audio controls>
                <source src="{{ asset('music/The Organ - Brother.mp3') }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>

        <div class="flex-1 max-w-sm rounded overflow-hidden shadow-lg m-4">
            <img src="{{ asset('/images/Connan Mockasin.jpg') }}" alt="Connan Mockasin" class="w-full h-32 project-image">
            <audio controls>
                <source src="{{ asset('music/Connan Mockasin - Its Choade My Dear.mp3') }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>

        <div class="flex-1 max-w-sm rounded overflow-hidden shadow-lg m-4">
            <img src="{{ asset('/images/ymg.jpeg') }}" alt="Young Marble Giants" class="w-full h-32 project-image">
            <audio controls>
                <source src="{{ asset('music/Young Marble Giants - Searching for Mr. Right.mp3') }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>

        <div class="flex-1 max-w-sm rounded overflow-hidden shadow-lg m-4">
            <img src="{{ asset('/images/fkuti.jpeg') }}" alt="Fela Kuti" class="w-full h-32 project-image">
            <audio controls>
                <source src="{{ asset('music/Fela Kuti - 2000 Blacks Got To Be Free.mp3') }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>

        <div class="flex-1 max-w-sm rounded overflow-hidden shadow-lg m-4">
            <img src="{{ asset('/images/Le_Mans.jpg') }}" alt="Le Mans" class="w-full h-32 project-image">
            <audio controls>
                <source src="{{ asset('music/Le Mans - Mi Novela Autobiográfica.mp3') }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>

        <div class="flex-1 max-w-sm rounded overflow-hidden shadow-lg m-4">
            <img src="{{ asset('/images/Peter Von Poehl.jpg') }}" alt="Peter Von Poehl" class="w-full h-32 project-image">
            <audio controls>
                <source src="{{ asset('music/Going to Where The Tea-Trees Are.mp3') }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>

        <div class="flex-1 max-w-sm rounded overflow-hidden shadow-lg m-4">
            <img src="{{ asset('/images/Erik Truffaz.jpg') }}" alt="Erik Truffaz" class="w-full h-32 project-image">
            <audio controls>
                <source src="{{ asset('music/Let Me Go ! - Erik Truffaz & Sophie Hunger.mp3') }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>

        <div class="flex-1 max-w-sm rounded overflow-hidden shadow-lg m-4">
            <img src="{{ asset('/images/Girls in Hawaii.jpg') }}" alt="Girls in Hawaii" class="w-full h-32 project-image">
            <audio controls>
                <source src="{{ asset('music/Girls in Hawaii - Flavor.mp3') }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>



    </div>

{% endblock %}

{% block styles %}
    <style>
        .project-image {
            object-fit: cover;
        }
    </style>
{% endblock %}